.body{
    height: 100%;
    width: 100%;
    background-image: url('./Components/images.jpg')
}
.container{
    align-items: center;
    height: 100%;
    width: 80%;
    background: red;
    background-image: url('./Components/images.jpg')
}
